// SCSS Variable's
$color-primary: var(--color-primary);
$color-black:#000000;
$color-white:#ffffff;

$color-blue:#595eef;
$color-pink:#ff4f7c;
$color-cyan:#00ffff;
$color-gray:#666666;

$color-danger:#EA5455;

$color-blue--dark:#0e1c4e;

$color-gray--light:#ececec;

$font-primary: var(--font-primary);
$font-secondary: var(--font-secondary);

/* CSS Variable's */
:root{
    --color-primary: #ffd700;
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Universo', sans-serif;
}